.page {
  &__link {
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    outline: 1px solid yellow;
    line-height: 40px;
    width: 120px;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(0.9);
    }
  }

  &__title {
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: yellow;
    cursor: pointer;
    text-align: center;
  }
}
